<%- include("templates/header") %> 
<button><a href="/invite_person/<%= group_id %>/<%= room_user_id %>">Invite person</a></button>
<button><a href="/groups">Go back to your groups</a></button>
  <% if(!emptyRoom) { %>
   <% for(var i = 0; i < seen_messages.length; i++) { %>
      <%- include('templates/message', {username: seen_messages[i].username, timestamp: seen_messages[i].sent_datetime, text: seen_messages[i].text, message_id: seen_messages[i].message_id, group_id: group_id, room_user_id: room_user_id}) %>
    <% } %>
    <% if(unseen_messages.length > 0) { %>
    <p>UNSEEN MESSAGES START HERE</p>
    <% for(var i = 0; i < unseen_messages.length; i++) { %>
      <%- include('templates/message', {username: unseen_messages[i].username, timestamp: unseen_messages[i].sent_datetime, text: unseen_messages[i].text, message_id: unseen_messages[i].message_id}) %>
    <% } %>
    <% } %>
  <% } else { %>
    <p>No messages have been sent yet!</p>
    <% } %>
<form action="newMessage/room_user_id/<%= room_user_id %>" method="post">
  <textarea class="text"name="message" rows="2" cols="10" placeholder="Send a text to the group!" ></textarea>
  <button>Submit</button>
</form>

<%- include("templates/footer") %> 