<%- include("templates/header") %> 
<table>
   <% for(var i = 0; i < messages.length; i++) { %>
    <tr>
      <td><%= messages[i].username %></td>
      <td><%= messages[i].sent_datetime %></td>
      <td><%= messages[i].message_id %></td>
      <td><%= messages[i].text %></td>
    </tr>  
    <% } %>
</table>

<form action="newMessage/room_user_id/<%= room_user_id %>" method="post">
  <textarea name="message" rows="10" cols="10" placeholder="Send a text to the group!" >
  </textarea>
  <button>Submit</button>
</form>
<%- include("templates/footer") %> 