<%- include("templates/header") %> 
<table>
  <% for(var i = 0; i < groups.length; i++) { %>
    <tr>
      <td><%= groups[i].room_id %></td>
      <td><a href="group/<%= groups[i].room_id %>/<%= groups[i].room_user_id %>"><%= groups[i].name %></a></td>
      <td><%= groups[i].start_datetime %></td>
    </tr>
  <% } %>
</table>
<p>You are currently in 2 groups</p>
<a href="new_group"> Make a new group</a>
<%- include("templates/footer") %> 